* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F2F2F2;
    box-sizing: content-box;
    width: 100%;
}

header {
    margin: 0px auto;
    width: 1000px;
}

header p {
    margin-top: 5px;
    position: fixed;
    right: 150px;
    padding: 10px;
    font-family: Arial Narrow;
    font-size: small;
    font-size: 14px;
}

header a {
    margin-top: 18px;
    position: fixed;
    right: 150px;
    padding: 10px;
    font-family: Arial Narrow;
    font-size: 13px;
    text-decoration: none;
}

header button {
    margin-top: 12px;
    position: fixed;
    width: 130px;
    right: 20px;
    padding: 10px;
    color: white;
    background-color: #0174DF;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid #f2f2f2;
}

section {
    top: 60px;
    height: 80px;
    position: relative;
}

#logo {
    top: 30px;
    left: -5px;
    text-align: center;
    position: relative;
}

.logos {
    position: relative;
    text-align: center;
    float: left;
    line-height: 30px;
    left: 500px;
}

.controles {
    position: relative;
    width: 320px;
    padding: 8px;
    margin: 10px;
    margin-bottom: 20px;
    left: 30px;
}

.controles#contraseña {
    background: url(img/password.png);
    color: white;
    background-repeat: no-repeat;
    background-position: right;
    text-decoration-color: #2E2E2E;
}

form {
    text-align: none;
}

.formulario {
    position: relative;
    background-color: white;
    width: 400px;
    height: 626px;
    top: 90px;
    margin: 480px;
    margin-top: 20px;
    border-radius: 3px;
    border: 1px solid gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: none;
}

.formulario h3 {
    top: 15px;
    font-size: 25px;
    color: #2E2E2E;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    position: relative;
}

.formulario h4 {
    color: darkslategrey;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    position: relative;
    top: 15px;
}

.formulario a {
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    font-family: Arial Narrow;
    font-size: 13px;
}

.formulario label {
    position: relative;
    left: 30px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: unset;
    font-size: 15px;
    color: darkslategrey;
    text-align: justify;
}

.formulario p {
    position: relative;
    left: 30px;
    margin-left: 10px;
    font-family: Arial Narrow;
    font-size: 12px;
    margin-bottom: 20px;
    text-align: left;
}

.formulario button {
    position: relative;
    left: 30px;
    width: 320px;
    background-color: #0174DF;
    padding: 18px;
    margin-left: 10px;
    color: white;
    font-size: 17px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #f2f2f2;
}

.fas {
    margin-right: 10px;
}

footer {
    font-family: Arial;
    position: relative;
}

footer em {
    float: left;
    text-align: center;
    left: 70px;
    font-size: 11px;
}

strong {
    font-size: 8px;
    float: left;
    margin-top: 60px;
    background: whitesmoke;
    text-align: center;
    line-height: 60px;
    height: 60px;
    width: 100%;
    font-weight: normal;
}

.final {
    font-size: 14px;
    text-align: center;
    font-size: 12px;
    top: -350px;
    color: gray;
}